name: PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  title:
    timeout-minutes: 1
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          subjectPattern: ^(?![A-Z]).+$
          scopes: |
            main
            gha
            core
            middleware-\S+
