name: middleware-retry-after package

on:
  pull_request:
    paths:
      - packages/middleware-retry-after/**
      - .github/workflows/middleware-retry-after.ci.yaml
      - .github/workflows/_template-package.ci.yaml
    branches:
      - main

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/_template-package.ci.yaml
    with:
      package_path: "packages/middleware-retry-after"
      package_name: "@qfetch/middleware-retry-after"
