name: Packages CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  detect-changes:
    name: Detect changed packages
    timeout-minutes: 5
    runs-on: ubuntu-24.04
    outputs:
      core: ${{ steps.filter.outputs.core }}
      utils: ${{ steps.filter.outputs.utils }}
      sdk: ${{ steps.filter.outputs.sdk }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Apply filters
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            core:
              - 'packages/core/**'
              - '.github/workflows/core.ci.yaml'
              - '.github/workflows/_template.package-ci.yaml'

  core:
    name: Core
    needs: detect-changes
    if: needs.detect-changes.outputs.core == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/core"
      package_name: "@qfetch/core"
