name: Packages CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  detect-changes:
    timeout-minutes: 5
    runs-on: ubuntu-24.04
    outputs:
      "packages/core": ${{ steps.filter.outputs['packages/core'] }}
      "packages/middleware-retry-after": ${{ steps.filter.outputs['packages/middleware-retry-after'] }}
      "packages/middleware-retry-status": ${{ steps.filter.outputs['packages/middleware-retry-status'] }}
      "packages/middleware-base-url": ${{ steps.filter.outputs['packages/middleware-base-url'] }}
      "packages/middleware-authorization": ${{ steps.filter.outputs['packages/middleware-authorization'] }}
      "packages/middleware-query-params": ${{ steps.filter.outputs['packages/middleware-query-params'] }}
      "packages/middleware-headers": ${{ steps.filter.outputs['packages/middleware-headers'] }}
      "packages/middleware-response-error": ${{ steps.filter.outputs['packages/middleware-response-error'] }}
      "packages/qfetch": ${{ steps.filter.outputs['packages/qfetch'] }}
      "packages/middlewares": ${{ steps.filter.outputs['packages/middlewares'] }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Apply filters
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            'packages/core':
              - 'packages/core/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-retry-after':
              - 'packages/middleware-retry-after/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-retry-status':
              - 'packages/middleware-retry-status/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-base-url':
              - 'packages/middleware-base-url/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-authorization':
              - 'packages/middleware-authorization/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-query-params':
              - 'packages/middleware-query-params/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-headers':
              - 'packages/middleware-headers/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-response-error':
              - 'packages/middleware-response-error/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/qfetch':
              - 'packages/qfetch/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middlewares':
              - 'packages/middlewares/**'
              - '.github/workflows/_template.package-ci.yaml'

  core:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/core'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/core"
      package_name: "@qfetch/core"

  middleware-retry-after:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-retry-after'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-retry-after"
      package_name: "@qfetch/middleware-retry-after"

  middleware-retry-status:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-retry-status'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-retry-status"
      package_name: "@qfetch/middleware-retry-status"

  middleware-base-url:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-base-url'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-base-url"
      package_name: "@qfetch/middleware-base-url"

  middleware-authorization:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-authorization'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-authorization"
      package_name: "@qfetch/middleware-authorization"

  middleware-query-params:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-query-params'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-query-params"
      package_name: "@qfetch/middleware-query-params"

  middleware-headers:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-headers'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-headers"
      package_name: "@qfetch/middleware-headers"

  middleware-response-error:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-response-error'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-response-error"
      package_name: "@qfetch/middleware-response-error"

  qfetch:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/qfetch'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/qfetch"
      package_name: "@qfetch/qfetch"

  middlewares:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middlewares'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middlewares"
      package_name: "@qfetch/middlewares"
