name: Packages CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  detect-changes:
    timeout-minutes: 5
    runs-on: ubuntu-24.04
    outputs:
      "packages/core": ${{ steps.filter.outputs['packages/core'] }}
      "packages/middleware-retry-after": ${{ steps.filter.outputs['packages/middleware-retry-after'] }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Apply filters
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            'packages/core':
              - 'packages/core/**'
              - '.github/workflows/_template.package-ci.yaml'
            'packages/middleware-retry-after':
              - 'packages/middleware-retry-after/**'
              - '.github/workflows/_template.package-ci.yaml'

  core:
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/core'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/core"
      package_name: "@qfetch/core"

  middleware-retry-after:
    name: Middleware Retry After
    needs: detect-changes
    if: needs.detect-changes.outputs['packages/middleware-retry-after'] == 'true'
    uses: ./.github/workflows/_template.package-ci.yaml
    with:
      package_path: "packages/middleware-retry-after"
      package_name: "@qfetch/middleware-retry-after"
